<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/data_sql.css">
	<link rel="stylesheet" type="text/css" href="static/css/grid.css">
	
</head>
<body>
    <header>
        <div class="row">
             <h1> Washer-Dryer Context Data </h1>
        </div>
        
        <div class="row">
            <div class="column">
                    <table>
                        <tr>
                            <th style="position: sticky" scope="col">#</th>
                            <th scope="col">Diagnosis Mode</th>
                            <th scope="col">Phase Number</th>
                            <th scope="col">Data Source</th>
                            <th scope="col">Value</th>
                            <th scope="col">Time</th>
                            <th scope="col">Unit</th>
                        </tr>
                        {% for item in data %}
                        <tr>
                                    <td> {{item[0]}} </td>
                                    <td> {{item[1]}} </td>
                                    <td> {{item[2]}} </td>
                                    <td> {{item[3]}} </td>
                                    <td> {{item[4]}} </td>
                                    <td> {{item[6]}} </td>
                                    <td> {{item[7]}} </td>
                        </tr>         
                    {% endfor %}
                    </table>
            </div>
        </div>
    </header>     
</body>
</html>