{% extends "layout.html" %}
{% block title %}Diagnosis Result{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <style>
        .element {
            position:absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
    }
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div class="container-fluid">
        <div class="row" style="padding-top:60px">
            <h1 class="display-5">Diagnosis Result</h1>
        </div>
    </div>
    <div class="container overflow-hidden">
        <div class="row element" style="padding-left: 20px; padding-right:20px">
            {% for key1, value1 in result.items() %}
                {% if key1 != "Long Time Check" %}
                    <div class="col mx-auto" >
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">{{ key1 }}</h4>
                                {% for key2, value2 in value1.items() %}
                                    <ul class="list-group list-group-flush">
                                    {% if key2 != "Message" and key2 != "Time" %}
                                        <li class="list-group-item">{{ key2|replace('_', ' ') }} : {{ value2 }}</li>
                                    {% endif %}
                                    {% if key2 == "Time" %}
                                        <li class="list-group-item">Last checked on : {{ value2 }}</li>
                                    {% endif %}
                                    </ul>
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{value1["Message"]}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}