<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"
              type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="static/css/washing-machine-img.png" class="d-block mx-lg-auto img-fluid" alt="Image" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Automatic Wash-Dryer System</h1>
            <p class="lead">Welcome to the homepage of Automatic Wash-Dryer System! Here you can view the status of your washing machine's
            components and be alerted if maintenance is needed or component defects are present.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <!-- TODO -->
                <a href=contextdata ><button type="button" class="btn btn-outline-secondary btn-md px-4">Check for Defects</button></a>
                <a href=contextdata ><button type="button" class="btn btn-outline-secondary btn-md px-4">Usage Optimization</button></a>
                <a href=contextdata ><button type="button" class="btn btn-outline-secondary btn-md px-4">View Context Data</button></a>
            </div>
          </div>
        </div>
    </div>
</body>
</html>